---
http_interactions:
- request:
    method: post
    uri: https://api.stockfighter.io/ob/api/venues/TESTEX/stocks/FOOBAR/orders
    body:
      encoding: UTF-8
      string: '{"account":"EXB123456","venue":"TESTEX","stock":"FOOBAR","direction":"buy","price":100,"qty":10,"orderType":"limit"}'
    headers:
      X-Stockfighter-Authorization:
      - 133154ad29c9c864705a2ee581f4e945ef07541d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "symbol": "FOOBAR",
          "venue": "TESTEX",
          "direction": "buy",
          "originalQty": 10,
          "qty": 10,
          "price": 100,
          "orderType": "limit",
          "id": 2223,
          "account": "EXB123456",
          "ts": "2015-12-25T16:55:38.477574174Z",
          "fills": [],
          "totalFilled": 0,
          "open": true
        }
  recorded_at: Fri, 25 Dec 2015 16:55:24 GMT
recorded_with: VCR 3.0.1
