---
http_interactions:
- request:
    method: get
    uri: https://api.stockfighter.io/ob/api/venues/TESTEX/stocks/FOOBAR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stockfighter-Authorization:
      - 133154ad29c9c864705a2ee581f4e945ef07541d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "venue": "TESTEX",
          "symbol": "FOOBAR",
          "ts": "2015-12-25T16:55:34.699438654Z",
          "bids": [
            {
              "price": 5487,
              "qty": 90,
              "isBuy": true
            },
            {
              "price": 5330,
              "qty": 100000,
              "isBuy": true
            },
            {
              "price": 5330,
              "qty": 100000,
              "isBuy": true
            },
            {
              "price": 5319,
              "qty": 100000,
              "isBuy": true
            },
            {
              "price": 5104,
              "qty": 100000,
              "isBuy": true
            },
            {
     [...]
