---
http_interactions:
- request:
    method: get
    uri: https://www.stockfighter.io/gm/instances/7557
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stockfighter-Authorization:
      - 133154ad29c9c864705a2ee581f4e945ef07541d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Upstream-Debugging:
      - instance-7557
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "done": false,
          "id": 7557,
          "state": "open",
          "details": {
            "endOfTheWorldDay": 499,
            "tradingDay": 86
          }
        }
  recorded_at: Fri, 25 Dec 2015 16:55:06 GMT
recorded_with: VCR 3.0.1
