---
http_interactions:
- request:
    method: get
    uri: https://api.stockfighter.io/ob/api/venues/TESTEX/stocks/FOOBAR/orders/67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stockfighter-Authorization:
      - 133154ad29c9c864705a2ee581f4e945ef07541d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "symbol": "FOOBAR",
          "venue": "TESTEX",
          "direction": "buy",
          "originalQty": 700,
          "qty": 499,
          "price": 0,
          "orderType": "limit",
          "id": 67,
          "account": "EXB123456",
          "ts": "2015-12-24T01:10:18.699761809Z",
          "fills": [
            {
              "price": 0,
              "qty": 1,
              "ts": "2015-12-24T03:01:20.67051002Z"
            },
            {
              "price": 0,
              "qty": 100,
              "ts": "2015-12-24T03:01:23.016031793Z"
            },
            {
              "price": 0,
              "qty": 100,
              "ts": "2015-12-24T03:01:25.372158474Z"
            }
          ],
          "totalFilled": 201,
          "open": true
        }
  recorded_at: Fri, 25 Dec 2015 16:58:57 GMT
recorded_with: VCR 3.0.1
