---
http_interactions:
- request:
    method: get
    uri: https://api.stockfighter.io/ob/api/venues/TESTEX/stocks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stockfighter-Authorization:
      - 133154ad29c9c864705a2ee581f4e945ef07541d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "symbols": [
            {
              "name": "Foreign Owned Occluded Bridge Architecture Resources",
              "symbol": "FOOBAR"
            }
          ]
        }
  recorded_at: Fri, 25 Dec 2015 16:57:18 GMT
recorded_with: VCR 3.0.1
