---
http_interactions:
- request:
    method: get
    uri: https://api.stockfighter.io/ob/api/venues/TESTEX/accounts/EXB123456/orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Stockfighter-Authorization:
      - 133154ad29c9c864705a2ee581f4e945ef07541d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "venue": "TESTEX",
          "orders": [
            {
              "ok": true,
              "symbol": "FOOBAR",
              "venue": "TESTEX",
              "direction": "buy",
              "originalQty": 700,
              "qty": 499,
              "price": 0,
              "orderType": "limit",
              "id": 67,
              "account": "EXB123456",
              "ts": "2015-12-24T01:10:18.699761809Z",
              "fills": [
                {
                  "price": 0,
                  "qty": 1,
                  "ts": "2015-12-24T03:01:20.67051002Z"
                },
                {
                  "price": 0,
                  "qty": 100,
                  "ts": "2015-12-24T03:01:23.016031793Z"
                },
                {
                  "price": 0,
                  "qty": 100,
                  "ts": "2015-12-24T03:01:25.372158474Z"
                }
              ],
              "totalFilled": 201,
              "open": true
            },
            {
              "ok": true,
              "symbol": "FOOBAR",
              "venue": "TESTEX",
              "direction": "buy",
              "originalQty": 5,
              "qty": 5,
              "price": 2,
              "orderType": "limit",
              "id": 90,
              "account": "EXB123456",
              "ts": "2015-12-24T08:06:03.075461238Z",
              "fills": [],
              "totalFilled": 0,
              "open": true
            },
   [...]
