---
http_interactions:
- request:
    method: post
    uri: https://api.stockfighter.io/ob/api/venues/TESTEX/stocks/FOOBAR/orders
    body:
      encoding: UTF-8
      string: '{"account":"EXB123456","venue":"TESTEX","stock":"FOOBAR","direction":"sell","price":100000,"qty":10,"orderType":"fill-or-kill"}'
    headers:
      X-Stockfighter-Authorization:
      - 133154ad29c9c864705a2ee581f4e945ef07541d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "symbol": "FOOBAR",
          "venue": "TESTEX",
          "direction": "sell",
          "originalQty": 10,
          "qty": 0,
          "price": 100000,
          "orderType": "fill-or-kill",
          "id": 2225,
          "account": "EXB123456",
          "ts": "2015-12-25T17:03:49.277817761Z",
          "fills": [],
          "totalFilled": 0,
          "open": false
        }
  recorded_at: Fri, 25 Dec 2015 17:03:34 GMT
recorded_with: VCR 3.0.1
